.card-label_container{
	position: absolute;
	bottom:5.625rem;
	right: 0;
}

.card-label_body{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0d0d0d;
	color: white;
	font-size: 0.75rem;
	font-family: 'Segoe UI';
	font-weight: bold;
	height: 1.875rem;
	padding: 0px 3.125rem;
}